<!DOCTYPE html>
<html>

   <head>
      <title>URL Shortener</title>
      <link rel="shortcut icon" href="https://cdn.glitch.com/398ec3cf-f475-482d-a5f3-09f696ca904d%2Fitachi.png?1499184742782" type="image/x-icon"/>
      <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet" type="text/css">
      <link href="/public/style.css" rel="stylesheet" type="text/css">
   </head>

   <body>
      <div class="container">
         <h1>URL Shortener</h1>
         <h3>Example creation usage:</h3>
         <code>https://tiny-url.glitch.me/new/https://www.google.com</code>
         <br>
         <code>https://tiny-url.glitch.me/new/http://foo.com:80/bar/alpha/beta</code>
         <br>
         <h3>
           Example creation output:
         </h3>
         <code>{"hash":"n1575","original":"https://www.google.com","_id":"595bf523637653346530d289"}</code>
         <br>
         <h3>
           Usage:
         </h3>
         <code>https://tiny-url.glitch.me/n1575</code>
         <br>
         <h3>
           Will redirect to:
         </h3>
         <code>https://www.google.com</code>
      </div>
     <footer class="footer">Site created by: <a href="https://github.com/Siddhant24" target="_blank">Siddhant Bhakar</a></footer>
   </body>

</html>
